*{
	padding: 0;
	margin: 0;
} 
#page1{
	position: relative;
	background-image: url(../img/R-C.jpg);
	width: 100vw;
	height: 100vh;
	background-size: 100% 100%;
	overflow: hidden;
}
#anniu{
	position: absolute;
	width: 20vw;
	left: 40%;
	top: 40%;
	animation: daxiao 2s infinite linear forwards alternate;
	animation-iteration-count: 5;
}
@keyframes daxiao{
	from{
		transform: scale(0);
	}
	to{transform: scale(1);}
}
#shengdanlaoren{
	position: absolute;
	width: 45vw;
	top: 70%;
	left: 50%;
}
/* #baifenbi{
	position: absolute;
	color: aliceblue;
	top: 53%;
	left: 47%;
} */
#jindutiao{
	position: absolute;
	width: 35vw;
	top: 60%;
	left: 35%;
}
#yidong{
	position: absolute;
	width: 15vw;
	top: 57%;
	left: 28%;
	animation: yidong 6s linear infinite forwards ;
	animation-iteration-count: 1;
}
@keyframes yidong{
	from{
		left: 28%;
	}
	to{left: 65%;
	}
}
#loading{
	position: absolute;
	width: 10vw;
	left: 40%;
	top: 53%;
	color: aliceblue;
}
#shengdankuaile{
	position: absolute;
	width: 90vw; 
	left: 6%;
	top: 8%;
}
#liwushu{
	position: absolute;
	width: 40vw;
	top: 66%;
}
#page2{
	position: relative;
	background-image: url(../img/beijing.png);
	width: 100vw;
	height: 100vh;
	background-size: 100% 100%;
	overflow: hidden;
	display: none;
	
}
#shengdanshu{
	position: absolute;
	width: 70vw;
	left: 20%;
	top: 38%;
	
}
.blink div{
	width:3px;
	height:3px;
	background: #fff;
	z-index: 101;
	position:absolute;
	border-radius: 50%;
	animation:blink 1.5s ease infinite alternate;
}
.blink div:nth-child(2){
	left:50%;
	top:77%;
	transform: scale(2);
}
.blink div:nth-child(3){
	left:54%;
	top:60%;
	transform: scale(2);
}
.blink div:nth-child(4){
	left:60%;
	top:50%;
	transform: scale(1.2);
}
.blink div:nth-child(5){
	left:40%;
	top:70%;
	transform: scale(1.8);
}
.blink div:nth-child(6){
	left:70%;
	top:81%;
	transform: scale(2);
}
@keyframes blink{
	0%{
		box-shadow: 0 0 0 0 #fff;
	}
	25%{
		box-shadow: 0 0 1px 1px #ff7d0c;
	}
	50%{
		box-shadow: 0 0 2px 2px #ffff81;
	}
	75%{
		box-shadow: 0 0 3px 3px #7ce7ff;
	}
	100%{
		box-shadow: 0 0 4px 4px #ff2545;
	}
}
#yinyue{
	position: absolute;
	top: 0%;
	left: 78%;
	display: none;
}
#music{
	width: 15vw;
	animation: music 3s infinite linear ;
	animation-play-state: running;
	
}
@keyframes music{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
#liwu{
	position: absolute;
	width:25vw;
	top: 80%;
	left: 8%;
}
#wenzi{
	position: absolute;
	width: 60vw;
	left: 40%;
	top: 15%;
}
 #anniu22{
	position: absolute;
	width: 30vw;
	top: 93%;
	left: 70%;
}
#page3{
	position: relative;
	background-image: url(../img/nian.png);
	width: 100vw;
	height: 100vh;
	background-size: 100% 100%;
	overflow: hidden;
	display: none;
	}
	#nian23{
		position: absolute;
		width: 40vw;
		animation: zhuan 2s infinite linear forwards;
		animation-iteration-count: 2;
	}
	@keyframes zhuan{
		from{ transform: rotateY(0deg);}
		to{transform: rotateY(360deg);}
	}
#wen2{
	position: absolute;
	width: 60vw;
	height: 40vw;
	font:italic bold 24px "楷体";
	top: 50%;
}
#lv{
	position: absolute;
	width: 30vw;
	top: 90%;
	left: 70%;
}
#page4{
	position: relative;
	background-image: url(../img/0557707e28c1a32490f5b0e2a2619a77.jpg);
	width: 100vw;
	height: 100vh;
	background-size: 100% 100%;
	overflow: hidden;
	display: none;
	}
	#wen3{
		position: absolute;
		width: 100vw;
		font:italic bold 24px "楷体";
		top: 45%;
	}
	#dangao{
		position: absolute;
		width: 40vw;
		top: 20%;
		left: 30%;
		animation: dangao 2s infinite linear forwards alternate;
		animation-iteration-count: 4;
		
	}
	@keyframes dangao{
		from{ transform: scale(1);}
		to{transform: scale(1.5);}
	}
	#tuzi{
		position: absolute;
		width: 30vw;
		top: 80%;
		left: 100%;
		animation: youyi 2s linear alternate infinite forwards;
		animation-iteration-count: 1;
		
	}
	@keyframes youyi{
		from{left: 100%;}
		to{left: 40%;}
	}
	#anniu3{
		position: absolute;
		width: 30vw;
		top: 95%;
		left: 65%;
	}
	#page5{
		position: relative;
		background-image: url(../img/v2-fce02f1c87a263cd89c5febfdcaf8a09_r.jpg);
		width: 100vw;
		height: 100vh;
		background-size: 100% 100%;
		overflow: hidden;
		display: none;
		}
		#wen4{
			position: absolute;
			width: 100vw;
			font:italic bold 24px "楷体";
			top: 35%;
		}
#zaijian{
	position: absolute;
	top: 20%;
	left: 43.5%;
}
#xing{
	position: absolute;
	width: 30vw;
	left: 65%;
	top: 5%;
	animation: dax 2s linear alternate infinite forwards;
}
@keyframes dax{
	from{ transform: scale(0.9);}
	to{transform: scale(1.1);}
}
#xing2{
	position: absolute;
	width: 20vw;
	left: 5%;
	top: 30%;
	animation: dax 2s linear alternate infinite forwards;
}





